[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=preset_groups
X-Python-2-Compatible=false
Name=Preset Groups
Comment=Organize brush presets into custom groups.
